body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  background: rgb(219, 193, 219);
  font-size: large;

}

.app {
  background: image(https://www.google.com/imgres?imgurl=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffh260%2Fbackground%2F20200714%2Fpngtree-modern-double-color-futuristic-neon-background-image_351866.jpg&imgrefurl=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds&tbnid=v88-M_AJ_P6MCM&vet=12ahUKEwiRhqmoiaD2AhWJYjUKHZOVBgIQMygHegUIARD1AQ..i&docid=nrS8yXEy4V6zEM&w=555&h=260&q=background%20image&ved=2ahUKEwiRhqmoiaD2AhWJYjUKHZOVBgIQMygHegUIARD1AQ);
  padding: 30px;
  height: 100vh;
}

.todo-list{
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  align-items: center;
}

.todo{
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border: purple;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border: 4px dotted purple;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
